In [3]:
import pandas as pd 
import os 
from pathlib import Path

In [18]:
folder = str(Path(os.getcwd()).parent.parent.parent.parent.parent.absolute()) + '/Downloads/lihtcpub'
df1 = pd.read_csv(folder + '/LIHTCPUB.CSV')
df2 = pd.read_csv(folder + '/LIHTCPUB_BIN.CSV')
print(f'{df1.shape}')
print(f'{df2.shape}')

(52007, 75)
(127598, 8)

/var/folders/3l/12mcyxkx38jdv4zv_hxngvtw0000gn/T/ipykernel_56002/675190426.py:2: DtypeWarning: Columns (72) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(folder + '/LIHTCPUB.CSV')

In [15]:
df1.head()

,hud_id,project,proj_add,proj_cty,proj_st,proj_zip,state_id,latitude,longitude,place1990,...,n_unitsr,li_unitr,metro,dda,qct,nonprog,nlm_reason,nlm_spc,datanote,record_stat
0,AKA0000X018,"GATEWAY-SEWARD ASSOCIATES, LTD PTN",1810 PHOENIX ROAD,SEWARD,AK,99664,AK-99-99,60.125469,-149.446060,NaN,...,20.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X
1,AKA0000X034,YENLO PHASE I AND II,402-451 NORTH YENLO STREET,WASILLA,AK,99654,AK-99-99,61.583096,-149.437637,NaN,...,37.0,37.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U
2,AKA19890010,PARK WEST APTS,2012 SANDVIK ST,FAIRBANKS,AK,99709,AK-89-00001,64.851646,-147.803421,1080.0,...,83.0,81.0,1.0,NaN,2.0,NaN,NaN,NaN,NaN,X
3,AKA19900005,TYSON'S TERRACE,103 BURKHART DR,SITKA,AK,99835,AK-90-00001,57.048874,-135.303024,3040.0,...,16.0,16.0,1.0,NaN,2.0,NaN,NaN,NaN,NaN,X
4,AKA19910005,NORTHWOOD APTS,190 PARKWOOD CIR,SOLDOTNA,AK,99669,AK-91-00001,60.489147,-151.073853,2810.0,...,23.0,22.0,1.0,NaN,2.0,NaN,NaN,NaN,NaN,X

In [19]:
df1.place1990

0           NaN
1           NaN
2        1080.0
3        3040.0
4        2810.0
          ...
52002       NaN
52003       NaN
52004       NaN
52005       NaN
52006       NaN
Name: place1990, Length: 52007, dtype: float64

In [10]:
!ls /Users/ppower1/Downloads/lihtcpub

LIHTC Data Dictionary 2021.pdf LIHTCPUB.CSV
LIHTCPUB.ACCDB                 LIHTCPUB_BIN.CSV